<html>
  <br>
  <h1 class="mb-3 font-weight-normal text-center"> Hey toi là !! Tu veux voir des trucs cheums ? REGARDE CA ! </h1>

  <div>
    <hr>
    <div class="container">
      <h2> La navbar</h2>
      <br>
      <%= render 'layouts/navbar' %>
      <br>
    </div>
    <hr>
  </div>

  <div class="container">
    <h2> Les formulaires</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= render 'forms/form_signup' %>
      </div>
      <div class="col">
        <%= render 'forms/form_login' %>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <%= render 'forms/form_reset_password' %>
        </div>
        <div class="col">
          <%= render 'forms/form_changepassword' %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <hr>

  <div>
    <div class="container">
      <h2> Les bannières</h2>
      <br>
      <h3> La plus grande</h3>
      <br>
    </div>
    <%= render 'hero_large' %>
    <br>
    <br>
    <div class="container">
      <h3> La plus petite</h3>
    </div>
    <br>
    <br>
    <%= render 'hero_small' %>
    <br>
  </div>
  
  <div>
    <hr>
    <div class="container">
      <h2> Les cards</h2>
      <h3> La card "évenement"</h3>
    </div>
    <%= render 'cards/event_card' %>
    <br>
    <h3> La card "liste des évenements"</h3>
    <%= render 'cards/events_card' %>
    <br>
    <br>
    <h3> La card "liste des participants"</h3>
    <%= render 'cards/cards_participants' %>
    <br>
    <br>
    <h3> La card "listes des villes"</h3>
    <br>
  </div>

  <hr>

  <div class="container">
    <h2> Les commmzzzz</h2>
    <br>
    <%= render 'comments/comments' %>
  </div>
  <br>
  <hr>


  <div class="container">
    <h2> La page show</h2>
    <br>
    <%= render 'page_layout/event_complete' %>
    <br>
  </div>

  <hr>

  <div class="container">
  <h2> Le hero avec la photo sur le côté</h2>

    <br>
    <%= render 'page_layout/hero_img' %>
    <br>
  

  </div>

<hr>
  <div class="container">
    <h2> Le Footer</h2>
    <%= render 'layouts/footer' %>
  </div>


</html>
